.skeleton-card {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 14px;
  border-radius: 14px;
  background-color: #efe7e2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.skeleton,
.skeleton-img,
.skeleton-title,
.skeleton-meal,
.skeleton-btn {
  background: linear-gradient(
    90deg,
    #ffd9b3 25%,
    #fff4e6 50%,
    #ffd9b3 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.2s infinite linear;
  border-radius: 10px;
}



.skeleton-img {
  width: 100%;
  height: 15rem;
  border-radius: 12px;
}

.skeleton-title {
  width: 70%;
  height: 20px;
}

.skeleton-meal {
  width: 50%;
  height: 16px;
}

.skeleton-btn-container {
  display: flex;
  gap: 12px;
}

.skeleton-btn {
  width: 45%;
  height: 38px;
}
